@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
@layer base {
  body {
    min-height: 100vh;
    @apply text-gray-800;
  }
  input {
    @apply outline-none;
    &:focus + .error-input {
      display: none;
    }
  }
  table {
    width: 100%;
  }
  thead {
    @apply bg-blue-100 bg-opacity-40;
  }
  th,
  td {
    vertical-align: middle;
    white-space: nowrap;
  }
  th {
    @apply px-8 py-5 font-medium text-left;
  }
  td {
    padding: 15px 30px;
  }
  .wrapper {
    @apply max-w-[1280px] px-12 mx-auto;
  }
  .custom-radio {
    width: 10px;
    height: 10px;
  }
  .custom-radio > div {
    box-shadow: 0 0 0 2.5px rgba(158, 155, 155, 0.673);
  }
  .custom-radio input:checked + div {
    @apply bg-blue-500;
    box-shadow: 0 0 0 2.5px white, 0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
  }
  .custom-checkbox input:checked + div .custom-checkbox-square {
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  }
  .custom-checkbox-square {
    width: 20px;
    height: 20px;
  }

  .zoom-enter .content {
    opacity: 0;
    transform: scale(0.5);
  }
  .zoom-enter-active .content {
    opacity: 1;
    transform: scale(1);
  }
  .zoom-exit .content {
    opacity: 1;
  }
  .zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.5);
  }
  .flex-center {
    @apply flex items-center;
  }
  .box-center {
    @apply flex items-center justify-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .text-primary {
    @apply text-blue-500;
  }
  .bg-primary {
    @apply bg-blue-500;
  }
  .entry-content {
    & ul {
      @apply mb-3;
    }
    & img {
      @apply rounded-sm;
    }
  }
}
