@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
@layer base {
  body {
    min-height: 100vh;
  }
  input {
    @apply outline-none;
    &:focus + .error-input {
      display: none;
    }
  }
  table {
    width: 100%;
  }
  thead {
    background-color: #f7f7f8;
  }
  th,
  td {
    vertical-align: middle;
    white-space: nowrap;
  }
  th {
    padding: 20px 30px;
    font-weight: 600;
    text-align: left;
  }
  td {
    padding: 15px 30px;
  }

  .custom-radio {
    width: 10px;
    height: 10px;
  }
  .custom-radio > div {
    box-shadow: 0 0 0 2.5px rgba(158, 155, 155, 0.673);
  }
  .custom-radio input:checked + div {
    @apply bg-blue-500;
    box-shadow: 0 0 0 2.5px white,
      0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
  }
  .custom-checkbox input:checked + div .custom-checkbox-square {
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  }
  .custom-checkbox-square {
    width: 20px;
    height: 20px;
  }

  .zoom-enter .content {
    opacity: 0;
    transform: scale(0.5);
  }
  .zoom-enter-active .content {
    opacity: 1;
    transform: scale(1);
  }
  .zoom-exit .content {
    opacity: 1;
  }
  .zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.5);
  }
  .flex-center {
    @apply flex items-center;
  }
  .box-center {
    @apply flex items-center justify-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .text-primary {
    @apply text-blue-500;
  }
  .bg-primary {
    @apply bg-blue-500;
  }
}
